
body {
  background-color: white;
  color: #303030;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  margin: 20px;
}

p {
  margin: 0;
}

main {
  box-shadow: 3px 3px 12px #c8c8c8;
  margin: 20px auto;
  max-width: 450px;
}

header {
  text-align: center;
  background: #FF8C00;
}

header p {
    padding: 18px;
    color: #fff;
}

ol {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
  padding: 20px;
}

li {
  padding: 10px;
}

li:nth-child(odd) {
  background-color: #e3e3e3;
  border-radius: 6px;
}

form {
  margin: 0;
  padding: 10px;
}

button {
  background-color: #FF8C00;
  border: 1px solid #FF8C00;
  border-radius: 3px;
  color: darkslategrey;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-top: 10px;
}

input {
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
}

#message-block { 
  display: flex;
  justify-content: space-between;
}

#inputs-container {
  display: flex;
  justify-content: center;
}

#initials {
  display: none;
  width: 20%;
  border-bottom: 1px solid #FF8C00;
  margin-right: 4px;
}

#message {
  width: 100%;
  border-bottom: 1px solid #FF8C00;
}

